@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
   font-family: 'robot';
   src: url('../fontes/robot9000.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

:root{
   --cor0: #E9F0F2;
   --cor1: #CEECF2;
   --cor2: #8BCAD9;
   --cor3: #73AABF;
   --cor4: #6092A6;

   --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
   --fonte-destaque: 'Bebas Neue', cursive;
   --fonte-android: 'robot', cursive;
}

* {
   margin: 0px;
   padding: 0px;
}

body{
   background-color: var(--cor1);
   font-family: var(--fonte-padrao);
}

a.externo::after{
   content: '\00A0\1F517';
}

header{
   background-color: var(--cor3);
   min-height: 150px;
   text-align: center;
   padding-top: 40px;
   background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
}

header > h1{
   font-family: var(--fonte-destaque);
   color: #fff;
   font-size: 3em;
   font-weight: normal;
   letter-spacing: 0.0225em;
   margin-bottom: 20px;
   text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.089)
}

header > p{
   color: #fff;
  font-family: var(--fonte-padrao);
  font-size: 1.2em;
  max-width: 600px;
  padding: 0 10px 0 10px;
  margin: auto;
  margin-bottom: 20px;
}

nav{
   background-color: var(--cor4);
   padding: 10px;
   box-shadow: 0 7px 7px rgba(0, 0, 0, 0.123);
}

nav > a{
   color: var(--cor1);
   padding: 10px;
   margin-top: 3px;
   border-radius: 5px;
   text-decoration: none;
   font-weight: 700;
   transition-duration: .40s;

}

nav > a:hover{
   background-color: var(--cor2);
   color: var(--cor4);
}

main{
   background-color: #fff;
   margin: auto;
   margin-bottom: 30px;
   max-width: 800px;
   min-width: 270px;
   padding: 20px;
   border-radius: 3.5px;
}

main h1{
   color: var(--cor3);
   font-family: var(--fonte-android);
}

img{
   width: 100%;
}

main img.pequena{
   max-width: 350px;
   display: block;
   margin: auto;
}

main h2{
   font-family: var(--fonte-android);
   color: var(--cor3);
   font-size: 1.3em;
   font-weight: normal;
   background-image: linear-gradient(to right, var(--cor1), transparent);
   text-indent: 8px;
}

main p{
   margin: 15px 0;
   text-align: justify;
   text-indent: 30px;
   font-size: 1em;
   line-height: 2em;
}

main strong{
   color: var(--cor4);
   font-weight: bold;
}

main a{
   text-decoration: none;
   font-weight: bold;
   color: var(--cor4);
   background-color: var(--cor1);
   padding: 2px 6px;
   transition: 0.5s;
}

main a:hover{
   text-decoration: underline;
   color: var(--cor3);
}

footer{
   background-color: var(--cor4);
   color: #fff;
   text-align: center;
   font-size: 0.8em;
   padding: 5px;
}

div.video{
   background-color: var(--cor4);
   margin: 0 -20px 30px -20px;
   padding: 20px;
   padding-bottom: 56%;
   position: relative;
}

div.video > iframe{
   position: absolute;
   top: 5%;
   left: 5%;
   width: 90%;
   height: 90%;
}

aside{
   background-color: var(--cor1);
   padding: 10px;
   border-radius: 10px;
   box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.295);
}

aside > h3{
   background-color: var(--cor4);
   color: white;
   padding: 10px;
   margin: -10px -10px 0 -10px;
   border-radius: 10px 10px 0px 0px;
}

aside > ul{
   list-style-type: '\2611\00A0';
   list-style-position: inside;
   columns: 2;
}

footer a{
   color: white;
   font-weight: bolder;
   text-decoration: none;
}

footer a:hover{
   text-decoration: underline;
   color: var(--cor1);
}